@{
    ViewBag.Title = "Calendar";
}

<div class="row-fluid">
    <div class="span8">
        <div id="calendar">
            <!--Full Calendar gets entered here-->
        </div>
    </div>
    <div class="span4" id="toolbar">
        <p class="text-center"><button id="createInterview"><i class="fa fa-plus"></i> Create Interview</button></p>
        <!-- Create new interview collapsable panel-->
        <div class="panel panel-primary" style="display:none" id="showCreate">
            <div class="panel-heading">
                <h4 class="panel-title">Create New Interview</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="scheduledDate" class="control-label span3">Date</label>
                        <div class="span7">
                            <input type="text" class="form-control span11" name="scheduledDate" id="scheduledDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="startTime" class="control-label span3">Start Time</label>
                        <div class="span3">
                            <input type="time" class="form-control span11" name="startTime" id="startTime" />
                        </div>
                        <label for="endTime" class="control-label span3">End Time</label>
                        <div class="span3">
                            <input type="time" class="form-control span11" name="endTime" id="endTime" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="candidate" class="control-label span3">Candidate</label>
                        <div class="span7">
                            <input type="text" class="form-control span11" name="candidate" id="candidate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="interviewer" class="control-label span3">Interviewer</label>
                        <div class="span7">
                            <input type="text" class="form-control span11" name="interviewer" id="interviewer" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="room" class="control-label span3">Room</label>
                        <div class="span7">
                            <input type="text" class="form-control span11" name="room" id="room" />
                        </div>
                    </div>
                </form>
                <p class="text-center">
                    <button type="button" class="btn-ignore btn-success"><i class="fa fa-check"></i> Schedule</button>
                    <button type="button" class="btn-ignore btn-danger"><i class="fa fa-times-circle"></i> Cancel</button>
                </p>
            </div>
        </div>
        <!-- Interview information panel -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Interview Info</h4>
            </div>
            <div class="panel-body">
                <b>Date:</b> July 8th, 2014<br />
                <b>Time:</b> 15:00<br />
                <b>Location:</b> Room 256<br />
                <p class="text-center">
                    <button type="button"><i class="fa fa-edit"></i> Edit</button>
                    <a type="button" class="button" href="@Url.Action("Comments", "Interviews")"><i class="fa fa-comment"></i> Comments</a>
                    <button type="button" class="btn-ignore btn-danger"><i class="fa fa-times"></i> Delete</button>
                </p>
            </div>
        </div>
    </div>
</div>

@section AddToScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#calendar").fullCalendar({
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,agendaWeek,agendaDay"
                },
                weekMode: "liquid",
                buttonText: {
                    today: "Today",
                    month: "Month",
                    week: "Week",
                    day: "Day"
                },
                selectable: true,
                eventColor: "#17599D",

                dayClick: function (date, allDay, jsEvent, view) {
                    var myDate = $("#calendar").fullCalendar('getDate');
                    //alert("The current date of the calendar is " + myDate);
                    $("#scheduledDate").datepicker("setDate", date);
                }

            });

            var sampleEvent = {
                title: "Interview 1",
                start: "2014-02-10T13:15:30Z"
            };

            var sampleEvent2 = {
                title: "Interview 2",
                start: "2014-02-07T13:15:30Z",
                backgroundColor: "#F2F21B",
                borderColor: "#F2F21B",
                textColor: "#000000"
            };

            $("#calendar").fullCalendar("renderEvent", sampleEvent, true);
            $("#calendar").fullCalendar("renderEvent", sampleEvent2, true);

            $("#createInterview").click(function () {
                $("#showCreate").slideToggle();
            });

            $("#cancelInterview").click(function () {
                $("#showCreate").slideToggle();
                $("#room").val('');
                $("#startTime").val('');
                $("#endTime").val('');
            });

            $(function () {
                $("#scheduledDate").datepicker();
            });

            $(function () {
                $("#candidate").select2(
                    {
                        minimumInputLength: 3,
                        placeholder: 'Enter name',
                        ajax: {
                            url: "http://www.weighttraining.com/sm/search",
                            dataType: 'jsonp',
                            quietMillis: 100,
                            data: function (term, page) {
                                return {
                                    types: ["exercise"],
                                    limit: -1,
                                    term: term
                                };
                            },
                            results: function (data, page) {
                                return { results: data.results.exercise }
                            }
                        },
                        formatResult: function (exercise) {
                            return "<div class='select2-user-result'>" + exercise.term + "</div>";
                        },
                        formatSelection: function (exercise) {
                            return exercise.term;
                        },
                        initSelection: function (element, callback) {
                            var elementText = $(element).attr('data-init-text');
                            callback({ "term": elementText });
                        }
                    });
            });

            $(function () {
                $("#interviewer").select2(
                    {
                        placeholder: 'Enter name',
                        minimumInputLength: 1,
                        allowClear: true,
                        quietMillis: 100
                    });
            });

        });
    </script>
}