@{
    ViewBag.Title = "Calendar";
}

@section AddToTextCss {
    .blue {
        background-color: #0073EA;
        color: white;
    }
}

<div class="row-fluid">
    <div class="span8">
        <div id="calendar">
            <!--Full Calendar gets entered here-->
        </div>
    </div>
    <div class="span4" id="toolbar">
        <p class="text-center"><a class="button" href="@Url.Action("Create", "Interviews")"><i class="fa fa-plus"></i> Create Interview</a></p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Interview Info</h4>
            </div>
            <div class="panel-body">
                <b>Date:</b> July 8th, 2014<br />
                <b>Time:</b> 15:00<br />
                <b>Location:</b> Room 256<br />
                <p class="text-center">
                    <a class="button" href="@Url.Action("Edit", "Interviews")"><i class="fa fa-edit"></i> Edit</a>
                    <a class="button" href="@Url.Action("Comments", "Interviews")"><i class="fa fa-comment"></i> Add/Edit Comments</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section AddToScripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#calendar").fullCalendar({
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,agendaWeek,agendaDay"
                },
                weekMode: "liquid",
                buttonText: {
                    today: "Today",
                    month: "Month",
                    week: "Week",
                    day: "Day"
                },
                selectable: true,
                eventColor: "#0073EA"
            });

            var sampleEvent = {
                title: "Interview 1",
                start: "2014-02-10T13:15:30Z"
            };

            var sampleEvent2 = {
                title: "Interview 2",
                start: "2014-02-07T13:15:30Z",
                backgroundColor: "#F2F21B",
                textColor: "#000000"
            };

            $("#calendar").fullCalendar("renderEvent", sampleEvent);
            $("#calendar").fullCalendar("renderEvent", sampleEvent2);
        });
    </script>
}