@{
    ViewBag.Title = "Candidates";
}

<div class="row-fluid">
    <div class="span10 offset1 panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Create a Candidate</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="first-name" class="control-label span2">First Name</label>
                    <div class="span10">
                        <input type="text" class="form-control" name="first-name" id="first-name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="middle-name" class="control-label span2">Middle Name</label>
                    <div class="span10">
                        <input type="text" class="form-control" name="middle-name" id="middle-name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="last-name" class="control-label span2">Last Name</label>
                    <div class="span10">
                        <input type="text" class="form-control" name="last-name" id="last-name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ssn" class="control-label span2">SSN</label>
                    <div class="span10">
                        <input type="text" class="form-control" name="ssn" id="ssn" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="suffix" class="control-label span2">Suffix</label>
                    <div class="span10">
                        <input type="text" class="form-control" name="suffix" id="suffix" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="date-of-birth" class="control-label span2">Date of Birth</label>
                    <div class="span10">
                        <input type="date" class="form-control" name="date-of-birth" id="date-of-birth" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="control-label span2">Gender</label>
                    <div class="span10">
                        <select id="gender" name="gender">
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ethnicity" class="control-label span2">Ethnicity</label>
                    <div class="span10">
                        <select id="ethnicity" name="ethnicity">
                            <option value="caucasian">Caucasian</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="source" class="control-label span2">Source</label>
                    <div class="span10">
                        <select id="source" name="source">
                            <option value="NROTC">NROTC</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="subsource" class="control-label span2">SubSource</label>
                    <div class="span10">
                        <select id="subsource" name="subsource">
                            <option value="NROTC">NROTC</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="programs" class="control-label span2">Programs</label>
                    <div class="span10">
                        <select id="programs" name="programs" multiple>
                            <option value="NROTC">Officer</option>
                            <option value="NROTC">Officer</option>
                            <option value="NROTC">Officer</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <span>hello</span>
</div>