@{
    ViewBag.Title = "Candidate Create Success";
}

<div class="row-fluid">
    <div class="span10 offset1 text-center">
        <h2>Candidate Created Successfully</h2>
        <p>Click <a href="@Url.Action("Create", "Candidates")">here</a> to return to the Candidate Create page.</p>
    </div>
</div>
