@{
    ViewBag.Title = "Home";
}

@section AddToHead {
    <style type="text/css">
        .panel-primary > .panel-heading {
            background-color: #0073EA;
            border-color: #0073EA;
        }

        .panel-primary {
            border-color: #0073EA;
        }
    </style>
}

<div class="row-fluid">
    <div class="span6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Recent Activity</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    11/14/2013 14:00:00 - Candidate "John Doe" added
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    11/12/2013 12:50:00 - Interview Scheduled for "Jane Doe"
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    11/12/2013 12:50:00 - Interview Scheduled for "Jane Doe"
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    11/12/2013 12:50:00 - Interview Scheduled for "Jane Doe"
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Your Interviews</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Jane Doe - 11/20/13 15:00:00
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    John Doe - 11/20/13 15:00:00
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>