@{
    ViewBag.Title = "Home";
}

<div class="row-fluid">
    <div class="span6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Recent Activity</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    11/14/2013 14:00:00 - Candidate "John Doe" added
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    11/12/2013 12:50:00 - Interview Scheduled for "Jane Doe"
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    11/12/2013 12:50:00 - Interview Scheduled for "Jane Doe"
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    11/12/2013 12:50:00 - Interview Scheduled for "Jane Doe"
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                @foreach ( var candidate in ViewBag.candidates )
                {
                    <li class="list-group-item">
                        @candidate.FName
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Your Interviews</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Jane Doe - 11/20/13 15:00:00
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
                <li class="list-group-item">
                    John Doe - 11/20/13 15:00:00
                    <span class="text-center faux-p">
                        <button>View</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

@section AddToScripts {
    <script type="text/javascript">

        $(document).ready(function () {
            /*
            var obj = {
                "FName": "Test",
                "LName": "Test",
                "MName": "Test",
                "DOB": "03/25/2014",
                "Sex": "M",
                "FYG": 2014,
                "EthnicityID": 1,
                "SourcesID": 1,
                "SubSourcesID": 1,
                "SSN": "123-45-6789"
            };
            console.log($.param(obj));
            
            $.ajax({
                url: "http://localhost:50741/api/BioData/Post?" + $.param(obj),
                type: "Post",
                success: function (data) {
                    console.log("success");
                    console.log(data);
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                    console.log(data.responseText);
                }
            });
            */
            
        });
    </script>

}