<table style="width:1200px">
    <tr>
        <td colspan="3"><b>Name:</b> name</td>
    </tr>
    <tr>
        <td><b>DOB:</b> dateOfBirth</td>
        <td><b>Sex:</b> sex</td>
        <td><b>ACTM:</b> actm</td>
    </tr>
    <tr>
        <td><b>BioID:</b> id</td>
        <td><b>Ethnicity:</b> ethnicity</td>
        <td><b>ACTV:</b> actv</td>
    </tr>
    <tr>
        <td><b>SSN:</b> ssn</td>
        <td><b>Source:</b> source</td>
        <td><b>SATM:</b> satm</td>
    </tr>
    <tr>
        <td><b>FYG:</b> fyg</td>
        <td><b>SubSource:</b> subSource</td>
        <td><b>SATV:</b> satv</td>
    </tr>
</table>




