<table style="width:600px">
    <tr>
        <td align="left"><b>MEMORANDUM</b></td>
        <td align=right>dateOfInterview</td>
    </tr>
</table>
<p>
    <br />
    From:&#9;Director(!!!Enter appropriate title!!!)
    <br />
    To:&#9;Commander, Navy Personnel Command (NPC-421E)
    <br />
    &#9;Commanding Officer, Naval Nuclear Power Training Command
    <br />
    <br />
    Subj:&#9;INTERVIEW REMARKS FOR dateOfInterview
</p>
<p>
    During interviews conducted dateOfInterview, Admiral nameOfAdmiral made the following comments:
</p>
<table style="width:400px">
    <tr>
        <td>admiralComments</td>
        <td>requiresPreSchool</td>
    </tr>
</table>
<p align="right">(!!!Sign with appropriate name/title!!!)</p>
<p>
    Copy to:&#9;1.CNRC
    <br />
    &#9;&#9;2.NSTC
    <br />
    &#9;&#9;3.USNA
</p>
