<table border="1" style="width: 900px; font-size: 14px" align="center">
    <tr>
        <th colspan="18" align="center">title</th>
    </tr>
    <tr align="center" valign="middle">
        <td rowspan="2">Source</td>
        <td rowspan="2">Goal</td>
        <td>Prior</td>
        <td>Oct</td>
        <td>Nov</td>
        <td>Dec</td>
        <td>Jan</td>
        <td>Feb</td>
        <td>Mar</td>
        <td>Apr</td>
        <td>May</td>
        <td>Jun</td>
        <td>Jul</td>
        <td>Aug</td>
        <td>Sep</td>
        <td rowspan="2">Currently Selected</td>
        <td rowspan="2">Goal</td>
        <td rowspan="2">OVERALL</td>
    </tr>
    <tr align="center" valign="middle">
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
    </tr>
    <tr align="center" valign="middle">
        <td>USNA</td>
        <td>usna goal</td>
        <td>usna prior</td>
        <td>usna 1_</td>
        <td>usna 2_</td>
        <td>usna 3_</td>
        <td>usna 4_</td>
        <td>usna 5_</td>
        <td>usna 6_</td>
        <td>usna 7_</td>
        <td>usna 8_</td>
        <td>usna 9_</td>
        <td>usna 10_</td>
        <td>usna 11_</td>
        <td>usna 12_</td>
        <td>usna current</td>
        <td>usna goal</td>
        <td rowspan="6">overall percent</td>
    </tr>
    <tr align="center" valign="middle">
        <td>NROTC</td>
        <td>nrotc goal</td>
        <td>nrotc prior</td>
        <td>nrotc 1_</td>
        <td>nrotc 2_</td>
        <td>nrotc 3_</td>
        <td>nrotc 4_</td>
        <td>nrotc 5_</td>
        <td>nrotc 6_</td>
        <td>nrotc 7_</td>
        <td>nrotc 8_</td>
        <td>nrotc 9_</td>
        <td>nrotc 10_</td>
        <td>nrotc 11_</td>
        <td>nrotc 12_</td>
        <td>nrotc current</td>
        <td>nrotc goal</td>
    </tr>
    <tr align="center" valign="middle">
        <td>NUPOC</td>
        <td>nupoc goal</td>
        <td>nupoc prior</td>
        <td>nupoc 1_</td>
        <td>nupoc 2_</td>
        <td>nupoc 3_</td>
        <td>nupoc 4_</td>
        <td>nupoc 5_</td>
        <td>nupoc 6_</td>
        <td>nupoc 7_</td>
        <td>nupoc 8_</td>
        <td>nupoc 9_</td>
        <td>nupoc 10_</td>
        <td>nupoc 11_</td>
        <td>nupoc 12_</td>
        <td>nupoc current</td>
        <td>nupoc goal</td>
    </tr>
    <tr align="center" valign="middle">
        <td>STA-21N</td>
        <td>sta goal</td>
        <td>sta21n prior</td>
        <td>sta21n 1_</td>
        <td>sta21n 2_</td>
        <td>sta21n 3_</td>
        <td>sta21n 4_</td>
        <td>sta21n 5_</td>
        <td>sta21n 6_</td>
        <td>sta21n 7_</td>
        <td>sta21n 8_</td>
        <td>sta21n 9_</td>
        <td>sta21n 10_</td>
        <td>sta21n 11_</td>
        <td>sta21n 12_</td>
        <td>sta21n current</td>
        <td>sta goal</td>
    </tr>
    <!--begin other section-->
    <tr align="center" valign="middle">
        <td>OTHER</td>
        <td>other goal</td>
        <td>other prior</td>
        <td>other 1_</td>
        <td>other 2_</td>
        <td>other 3_</td>
        <td>other 4_</td>
        <td>other 5_</td>
        <td>other 6_</td>
        <td>other 7_</td>
        <td>other 8_</td>
        <td>other 9_</td>
        <td>other 10_</td>
        <td>other 11_</td>
        <td>other 12_</td>
        <td>other current</td>
        <td>other goal</td>
    </tr>
    <!--end other setion-->
    <tr align="center" valign="middle">
        <td>TOTAL</td>
        <td>total goal</td>
        <td>total prior</td>
        <td>total 1_</td>
        <td>total 2_</td>
        <td>total 3_</td>
        <td>total 4_</td>
        <td>total 5_</td>
        <td>total 6_</td>
        <td>total 7_</td>
        <td>total 8_</td>
        <td>total 9_</td>
        <td>total 10_</td>
        <td>total 11_</td>
        <td>total 12_</td>
        <td>total current</td>
        <td>total goal</td>
    </tr>
</table>


