<table border="1" style="width:600px">
    <tr>
        <th colspan="18">title</th>
    </tr>
    <tr>
        <td rowspan="2">Source</td>
        <td rowspan="2">Goal</td>
        <td>Prior</td>
        <td>month1</td>
        <td>month2</td>
        <td>month3</td>
        <td>month4</td>
        <td>month5</td>
        <td>month6</td>
        <td>month7</td>
        <td>month8</td>
        <td>month9</td>
        <td>month10</td>
        <td>month11</td>
        <td>month12</td>
        <td rowspan="2">Currently Selected</td>
        <td rowspan="2">Goal</td>
        <td rowspan="2">OVERALL</td>
    </tr>
    <tr>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
        <td>Selected</td>
    </tr>
    <tr>
        <td>USNA</td>
        <td>usna goal</td>
        <td>usna prior</td>
        <td>usna 1</td>
        <td>usna 2</td>
        <td>usna 3</td>
        <td>usna 4</td>
        <td>usna 5</td>
        <td>usna 6</td>
        <td>usna 7</td>
        <td>usna 8</td>
        <td>usna 9</td>
        <td>usna 10</td>
        <td>usna 11</td>
        <td>usna 12</td>
        <td>usna current</td>
        <td>usna goal</td>
        <td rowspan="6">overall percent</td>
    </tr>
    <tr>
        <td>NROTC</td>
        <td>nrotc goal</td>
        <td>nrotc prior</td>
        <td>nrotc 1</td>
        <td>nrotc 2</td>
        <td>nrotc 3</td>
        <td>nrotc 4</td>
        <td>nrotc 5</td>
        <td>nrotc 6</td>
        <td>nrotc 7</td>
        <td>nrotc 8</td>
        <td>nrotc 9</td>
        <td>nrotc 10</td>
        <td>nrotc 11</td>
        <td>nrotc 12</td>
        <td>nrotc current</td>
        <td>nrotc goal</td>
    </tr>
    <tr>
        <td>NUPOC</td>
        <td>nupoc goal</td>
        <td>nupoc prior</td>
        <td>nupoc 1</td>
        <td>nupoc 2</td>
        <td>nupoc 3</td>
        <td>nupoc 4</td>
        <td>nupoc 5</td>
        <td>nupoc 6</td>
        <td>nupoc 7</td>
        <td>nupoc 8</td>
        <td>nupoc 9</td>
        <td>nupoc 10</td>
        <td>nupoc 11</td>
        <td>nupoc 12</td>
        <td>nupoc current</td>
        <td>nupoc goal</td>
    </tr>
    <tr>
        <td>STA-21N</td>
        <td>sta goal</td>
        <td>sta prior</td>
        <td>sta 1</td>
        <td>sta 2</td>
        <td>sta 3</td>
        <td>sta 4</td>
        <td>sta 5</td>
        <td>sta 6</td>
        <td>sta 7</td>
        <td>sta 8</td>
        <td>sta 9</td>
        <td>sta 10</td>
        <td>sta 11</td>
        <td>sta 12</td>
        <td>sta current</td>
        <td>sta goal</td>
    </tr>
    <tr>
        <td>OTHER</td>
        <td>other goal</td>
        <td>other prior</td>
        <td>other 1</td>
        <td>other 2</td>
        <td>other 3</td>
        <td>other 4</td>
        <td>other 5</td>
        <td>other 6</td>
        <td>other 7</td>
        <td>other 8</td>
        <td>other 9</td>
        <td>other 10</td>
        <td>other 11</td>
        <td>other 12</td>
        <td>other current</td>
        <td>other goal</td>
    </tr>
    <tr>
        <td>TOTAL</td>
        <td>total goal</td>
        <td>total prior</td>
        <td>total 1</td>
        <td>total 2</td>
        <td>total 3</td>
        <td>total 4</td>
        <td>total 5</td>
        <td>total 6</td>
        <td>total 7</td>
        <td>total 8</td>
        <td>total 9</td>
        <td>total 10</td>
        <td>total 11</td>
        <td>total 12</td>
        <td>total current</td>
        <td>total goal</td>
    </tr>
</table>


