<p align="center">schoolTitle</p>
<p align="center">NNPP Success and Involvement</p>
<p align="center">As Of : dateOfReport</p>



<span style="float: right">
    <img src="__chart__" alt="School Chart" />
</span>
<p align="left">
    <ul class="a">
        <li>
            Number Of Candidates Interviewed:&#9; numCandidatesInterviewed
            <ul class="a">
                <li>NUPOC:&#9; nupocCount</li>
                <li>NROTC:&#9; nrotcCount</li>
                <li>STA21N:&#9; sta21nCount</li>
            </ul>
        </li>
        <li>
            Number of Candidates Selected: &#9; numCandidatesSelected(selectedPercent)
            <ul class="a">
                <li>NUPOC:&#9; numNupoc</li>
                <ul class="b">
                    <li>SUB:&#9; nupocSUB</li>
                    <li>SWO:&#9; nupocSWO</li>
                    <li>INST:&#9; nupocINST</li>
                    <li>NR:&#9; nupocNR</li>
                    <li>No Contract:&#9; nupocNo</li>
                </ul>

                <li>NROTC:&#9; numNrotc</li>
                <ul class="b">
                    <li>SUB:&#9; nrotcSUB</li>
                    <li>SWO:&#9; nrotcSWO</li>
                    <li>INST:&#9; nrotcINST</li>
                    <li>NR:&#9; nrotcNR</li>
                    <li>No Contract:&#9; nrotcNo</li>
                </ul>

                <li>STAN21:&#9; numSta21n</li>
                <ul class="b">
                    <li>SUB:&#9; sta21nSUB</li>
                    <li>SWO:&#9; sta21nSWO</li>
                    <li>INST:&#9; sta21nINST</li>
                    <li>NR:&#9; sta21nNR</li>
                    <li>No Contract:&#9; sta21nNo</li>
                </ul>
            </ul>
        </li>
    </ul>
</p>