<!DOCTYPE html>
<html xmlns=\"http://www.w3.org/1999/xhtml\">

<head>
    
    <title></title>
</head>

<body>
    <table>
        <tr>
            <td colspan="5">School: school</td>
        </tr>
        <tr>
            <td>Major: major</td>
            <td>Degree: degree</td>
            <td>Graduated: graduated</td>
            <td>Start Year: start year</td>
            <td>End Year: end year</td>
        </tr>
        <tr>
            <th>Year:</th>
            <th>GPA:</th>
            <th>AOM (of):</th>
            <th>OOM (of): oom</th>
            <th>Rank In Major (of): rank</th>
        </tr>
        <tr>
            <td>year</td>
            <td>gpa</td>
            <td>Aom (of)</td>
            <td>oom (of)</td>
            <td>rank (of)</td>
        </tr>
        <tr>
            <td colspan="4">Comments: comments</td>
        </tr>
    </table>

</body>
</html>
