<p align="right">dateOfInterview</p>
<p>
    From:&#9;Director, Naval Nuclear Propulsion
    <br />
    To:&#9;Chief of Naval Personnel (PERS 42)
    <br />
    <br />
    Subj:&#9;MIDSHIPMEN FROM THE NAVAL ACADEMY CLASS OF fygOfClass SELECTED FOR NUCLEAR PROPULSION TRAINING
</p>

<p>
    <br />
    1.The following midshipmen have successfully completed interviews with Admiral (!!!name of Admiral!!!),
    Director, Naval Nuclear Propulsion, on dateOfInterview. These Midshipmen have been selected for nuclear
    propulsion training following commission.
</p>
<table style="width:450px">
    <tr>
        <td>namesOfAccepted</td>
        <td>ssnOfAccepted</td>
    </tr>
</table>
<p align="right">(!!!sign with appropriate name/title!!!)</p>
<p>
    Copy to:
    <br />
    Superintendent, U.S. Naval Academy
</p>