/*
Main CSS file for all pages
*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.push {
  height: 10px;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.faux-p {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
